@model RPShop.Models.ViewModels.CreateCustomer.EditCustomer;
@{
    Layout = null;
}
@{ ViewBag.Title = "Edit Customer";}

<div>
    <form id="myForm1">
        @Html.HiddenFor(m => m.id)

        <div class="form-group">
            <div>
                <label asp-for="FullName"></label>
            </div>
            <div>
                <input asp-for="FullName" class="form-control" />
                <span class="error text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label asp-for="Email"></label>
            </div>
            <div>
                <input asp-for="Email" class="form-control" />
                <span class="error text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label asp-for="PhoneNumber"></label>
            </div>
            <div>
                <input asp-for="PhoneNumber" class="form-control" />
                <span class="error text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label asp-for="Address"></label>
            </div>
            <div>
                <input asp-for="Address" class="form-control" />
                <span class="error text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label asp-for="totalPrice"></label>
            </div>
            <div>
                <input asp-for="totalPrice" class="form-control" />
                <span class="error text-danger"></span>
            </div>
        </div>
        <div style="">
            <button type="reset" class="btn btn-default" data-dismiss="modal">Close</button>
            <a href="#" id="saveCus" type="submit" class="btn btn-danger">Save Supplier</a>
        </div>
    </form>
    @*<div style="text-align:center; display:none" id="loaderDiv1">
        <img src="~/images/0e9b9ada-cba8-43ff-82ce-d3dabc912d04_avatar1.jpg" />
    </div>*@
</div>


<script>
    $(document).ready(function () {
        $("#saveCus").click(function () {
            var isValid = true;
            if (document.getElementById("FullName").value == "") {
                
                $('#FullName').siblings('span.error').text('Please enter Name');
                isValid = false;
            }
            else {
                $('#Name').siblings('span.error').text('');
            }

            if (document.getElementById("Email").value == "") {
                $('#Email').siblings('span.error').text('Please enter email');
                isValid = false;
            }
            else {
                $('#Email').siblings('span.error').text('');
            }
            if (document.getElementById("PhoneNumber").value == "") {
                $('#PhoneNumber').siblings('span.error').text('Please enter PhoneNumber');
                isValid = false;
            }
            else {
                $('#PhoneNumber').siblings('span.error').text('');
            }
            if (document.getElementById("Address").value == "") {
                $('#Address').siblings('span.error').text('Please enter PhoneNumber');
                isValid = false;
            }
            else {
                $('#Address').siblings('span.error').text('');
            }
            if (document.getElementById("totalPrice").value == "") {
                $('#totalPrice').siblings('span.error').text('Please enter PhoneNumber');
                isValid = false;
            }
            else {
                $('#totalPrice').siblings('span.error').text('');
            }
            if (isValid) {
                //$("#loaderDiv1").show();
                var myformdata = $("#myForm1").serialize();
                console.log(myformdata);
                $.ajax({
                    type: "POST",
                    url: "/Customer/EditCustomer",
                    data: myformdata,
                    success: function () {
                        alert("Update complete");
                        $('#newOrderModal').modal('hide');
                        window.location.href = "/Customer/ListCustomers";
                    }
                });
            }
        });
    });
</script>