
@{ ViewBag.Title = "Add Product";}

<form>
    <div class="row">
        <div>
            <label>Product Name</label>
        </div>
        <div>
            <input />
        </div>
    </div>
    <div class="row">
        <div>
            <label>Price</label>
        </div>
        <div>
            <input />
        </div>
    </div>
    <div class="row">
        <div>
            <label>Picture</label>
        </div>
        <div class="custom-file">
            <input class="custom-file-input" />
            <label class="custom-file-label" for="customFile">choose file</label>
        </div>
    </div>
    <div class="row">
        <div>
            <label>Detail</label>
        </div>
        <div>
            <input />
        </div>
    </div>
</form>
