@model List<ListProduct>
@inject RPDbcontext context

@{
    ViewBag.Title = "List Product";
    var tam = context.Products.OrderByDescending(e => e.id).ToList();
}

<div class="row">
    @foreach (var product in tam)
    {
        var avatarPath = $"/images/{(product.imagePath ?? "avatar1.jpg")}";
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    <h3>FullName: @product.ProductName</h3>
                </div>
                <img src=@avatarPath width="200" height="190" alt="Not found" class="mx-auto d-block myImage" asp-append-version="true" />
                <div class="card-footer text-center">

                    <a asp-controller="Home" asp-action="Details" asp-route-id="@product.id" class="btn btn-warning">Details</a>
                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@product.id" class="btn btn-primary">Edit</a>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@product.id" class="btn btn-danger">Delete</a>

                </div>

            </div>
        </div>

    }
</div>