@model RPShop.Models.ViewModels.CreateOder.OrderPrint
@inject RPDbcontext context;
@{
    ViewBag.Title = "Add Order";
}

<h2>Add Order</h2>
<div class="col-3">
    <input type="date" id="date" class="form-control" disabled="disabled"/>
</div>
<table class="table table-responsive" id="tbItems">
    <thead>
        <tr>
            <th>
                Items
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                remaining
            </th>
            <th>
                Total Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr id="MainRow">
            <td>
                <select class="productsItems" id="productsItems" onchange="create.change(this.value,this.options[this.selectedIndex].text)">
                    <option>--</option>
                    @foreach (var item in context.Products.ToList())
                    {
                        <option value="@item.Id">@item.ProductName</option>
                    }
                </select>
                <span style="font-size:medium" class="error text-danger"></span>
            </td>
            <td>
                <input type="text" name="price" id="price" disabled="disabled" />
                <span style="font-size:medium" class="error text-danger"></span>
            </td>
            <td>
                <input type="text" name="quantity" id="quantity" placeholder="Quantity" />
                <span style="font-size:medium" class="error text-danger"></span>
            </td>
            <td>
                <input type="text" name="remain" id="remain" disabled="disabled" />
            </td>
            <td>
                <input type="text" name="total" id="total" disabled="disabled" />
            </td>

            <td>
                <button class="btn btn-success" id="add">
                    <span class="fade fade"></span>
                    Add
                </button>
            </td>
        </tr>
    </tbody>
</table>
<h4>Oder</h4>
<table class="table table-responsive" id="OrderItems"></table>

<div style="margin-bottom:50px;">
    <button class="btn btn-dark" id="submit">Add order</button></div>
<span class="text-danger" id="orderMessage"></span>
@section scripts
{ 
<script src="~/js/AddOrder.js"></script>
<script>
    var create = create || {};
    var name = "";
    create.change = function (id, nameProduct) {
        name = nameProduct;
        $.ajax({
            url: `/Oder/Product/${id}`,
            method: "GET",
            contentType: "json",
            success: function (data) {
                $("#price").val(data.price[0]);
                $("#remain").val(data.price[1]);
            }
        });
        };
</script>
}