@model RPShop.ViewModels.CreateInventory.Create_Inventory
@inject RPDbcontext context;
@{ ViewBag.Title = "Linventory";}

<form asp-controller="Inventory" asp-action="CreateInventory" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-2">
            <label asp-for="productid"></label>
        </div>
        <div class="col-7">
            <select asp-for="productid" class="form-control">
                @foreach (var item in context.Products.ToList())
                {
                    <option value="@item.Id">@item.ProductName</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label asp-for="supplierid"></label>
        </div>
        <div class="col-7">
            <select asp-for="supplierid" class="form-control">
                @foreach (var item in context.Suppliers.ToList())
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label asp-for="Amount"></label>
        </div>
        <div class="col-7">
            <input asp-for="Amount" class="form-control" class="form-control"/>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label asp-for="importPrice"></label>
        </div>
        <div class="col-7">
            <input asp-for="importPrice" class="form-control" class="form-control" />
        </div>
    </div>

    <button class="btn btn-outline-primary">Create</button>
</form>

